<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search Flickr with AngularJS</title>
	<link href="style.css" rel="stylesheet" type="text/css"/>
	<script src="https://code.angularjs.org/1.2.0/angular.js"></script>
	<script src="app.js"></script>		
  </head>
  <body>
	<section class="row" ng-app="formFlickr" ng-controller="FlickrController">
		<article class="col-md-push-1 col-md-11">
		
			<div class="back-solid-white"> 			
				<div class="breadcrumb">
					<h1>Search images with FlickrAPI v{{notes[notes.length-1].ver}}&nbsp;&nbsp;&nbsp;&nbsp;	
						<span>
							<ul>
								<li>
									<a href="#releaseNote" ng-click="selectCommonArea('releaseNote')">Release Note</a>
								</li>
								<li>
									<a href="#ToDo" ng-click="selectCommonArea('toDo')">ToDo</a>
								</li>
							</ul>
						</span>
					</h1>
				</div>
			
				<div class="app-container back-solid-white" style="position: fixed; top: 70px; left: 6px;">
					<fieldset class="app-fieldset">
					<legend class="app-legend">
						AngularJS flavour
					</legend>
					<form name="form" class="validate-form">
						<input id="searchCriteria"
							ng-model="searchCriteria.tags"
							ng-target="form.tags"
							name="tags"
							type="text"
							title="required input"
							placeholder="Enter key words (tags) separated by a comma."
							ng-keyup="search(searchCriteria);document.getElementsByName('tags').focus();"
							required />
						<br />
						Search Mode:
						<input type="radio" name="SearchMode" value="any" />Any Tags
						<input type="radio" name="SearchMode" value="all" checked />All Tags
						<br />
						<input type="button" class="btn btn-default" ng-click="resetForm(form);" value="Reset" />
						<button type="submit" class="btn btn-primary" ng-click="search(searchCriteria);document.getElementsByName('tags').focus();">
						Search Flicker
						</button>
					</form>
					</fieldset>
				</div>
				
				<div ng-switch="commonArea" class="common-area">		
					<div ng-switch-when="releaseNote"> 							
						<fieldset class="app-fieldset">
							<legend class="app-legend">
								Release Note
							</legend>
							<table onfocus="console.log('table releasenote')">
								<thead>
									<tr>
										<th>ver.</th>
										<th>description</th>
									</tr>
								</thead>
								<tr ng-repeat="n in notes | orderBy : '-ver' ">
									<td>{{n.ver}}</td>
									<td>{{n.desc}}</td>
								</tr>
							</table>
						</fieldset>
					</div>		
					<div ng-switch-when="toDo" class="common-area">
						<fieldset class="app-fieldset">
							<legend class="app-legend">
								ToDo
							</legend>							
							<table>
								<tr ng-repeat="t in todos">
									<td>{{t}}</td>
								</tr>
							</table>
						</fieldset>
					</div>		
					<div ng-switch-when="selectedImage" class="common-area">
						<fieldset class="app-fieldset" >
						<legend class="app-legend">
							More details of selected image
						</legend>					
						<table>
							<tbody>
								<tr>
									<th class="imagedetails">link to image of original resolution. (right-click to open in new tab)</th>			
									<td><a href="{{image}}" onClick="openNewTab({{image}});">{{title}}</a></td>
								</tr>
								<tr>
									<th class="imagedetails">title</th>
									<td>{{title}}</td>
								</tr>
								<tr>
									<th class="imagedetails">author</th>
									<td>{{author}}</td>
								</tr>
								<tr>
									<th class="imagedetails">tags</th>
									<td>{{tags}}</td>
								</tr>
							</tbody>
						</table> 
						</fieldset>
					</div>
					<h3 ng-show="images.items.length > 0" class="thumbnails">
						{{images.title}}
					</h3>							
				</div>
			</div>

			<div id="images" class="app-container" style="margin-top: 300px; margin-left: 6px;">
			  <figure class="added-fig" ng-repeat="i in images.items">
					<img class="added-img" src="{{i.media.m}}" ng-click="clickAnImage(i);"/> 			
			  </figure>
			</div>
			
		</article> 
	</section>
  </body>
</html>